body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.home-section {
    background-image: url(images/flood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1349px;
    height: 90vh;
}

.home {
    text-align: center;
    color: #fff;
    padding: 40px;

}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin-left: 25%;
    margin-right: 25%;
}

p {
    font-size: 20px;
    font-weight: 500;
    margin-left: 20%;
    margin-right: 20%;
}

.donate-btn {
    padding: 18px 25px;
    font-size: 20px;
    font-weight: 700;
    background-color: tomato;
    border-radius: 10px;
    border-style: none;
    margin-top: 20px;
    color: #fff;
}

.donate {
    text-align: center;
    margin-top: 8%;

}

.card-div {
    display: flex;
    margin-left: 10%;
}

.card {
    padding: 50px 40px;
    background-color: rgb(241, 238, 238);
    border-radius: 5px;
    width: 10%;
    margin-right: 2%;
    text-align: center;
}

.color {
    color: tomato;
    border: 2px solid tomato;
    background-color: rgb(244, 228, 225);
}

.large-card {
    width: 600px;
    text-align: center;
    align-items: center;
    border-bottom: 3px solid rgb(241, 238, 238);
    margin-left: 30%;
    margin-top: 5%;
}

#btn {
    margin-left: 46%;
}

.plan {
    text-align: center;
}

.food {}