body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.home-section {
    background-image: url(images/flood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1349px;
    height: 90vh;
}

.home {
    text-align: center;
    color: #fff;
    padding: 40px;

}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin-left: 25%;
    margin-right: 25%;
}

p {
    font-size: 20px;
    font-weight: 500;
    margin-left: 20%;
    margin-right: 20%;
}

.donate-btn {
    padding: 18px 25px;
    font-size: 20px;
    font-weight: 700;
    background-color: tomato;
    border-radius: 10px;
    border-style: none;
    margin-top: 20px;
    color: #fff;
}

.donate {
    text-align: center;
    margin-top: 8%;

}

.card-div {
    display: flex;
    margin-left: 10%;
}

.card {
    padding: 50px 40px;
    background-color: rgb(241, 238, 238);
    border-radius: 5px;
    width: 10%;
    margin-right: 2%;
    text-align: center;
}

.color {
    color: tomato;
    border: 2px solid tomato;
    background-color: rgb(244, 228, 225);
}

.large-card {
    width: 600px;
    text-align: center;
    align-items: center;
    border-bottom: 3px solid rgb(241, 238, 238);
    margin-left: 30%;
    margin-top: 5%;
}

#btn {
    margin-left: 45%;
}

.plan {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.family {
    display: flex;
    width: 1349px;
}

.food-shelter-education {
    width: 500px;
    height: 300px;
    align-items: center;
    background-color: aliceblue;
    margin: 2%;
    padding: 2%;
}

.food-shelter-education p {
    text-align: justify;
    margin: 5%;
}

.food-shelter-education h3 {
    font-size: 25px;
    margin: 5%;
}

.food-color {
    background-color: aliceblue;
}

.shelter-color {
    background-color: rgb(244, 230, 227);
}

.edu-color {
    background-color: rgb(248, 248, 191);
}

.flooder {
    display: flex;
    padding: 2%;
}

.donation img {
    width: 70%;
    height: 88%;
    margin-left: 35%;
    margin-top: 30px;
    transition: .8ms;
}

.donation img:hover {
    margin-top: 0px;
}

.hungry img {
    width: 60%;
    margin-left: 15%;
    margin-top: 30px;
    transition: .8ms;
}

.hungry img:hover {
    margin-top: 0px;
}

.emergency h1 {
    text-align: center;
}

.emergency h2 {
    text-align: center;
    font-size: 30px;
}

.emergency p {
    text-align: center;
}

.contribute {
    margin-left: 40%;
}